# Ignore compiled build files
**/target/

# Ignore the secrets file specifically
**/src/main/resources/application-secrets.properties

# Ignore IDE-specific metadata
/.metadata/
.project
.classpath
.settings/
